<div class="body_ya">
  <div class="post_head">
    <h2>マイページ編集</h2>
  </div>
  <%= form_for @admin do |f| %>
    <%= f.label :image do %>
      <%= f.file_field :image, style: "display: none;" %>
      <img src="/assets/blank_icon.jpg" class="student_upload_image">
    <% end %>

    <div class="student_profile">
      <%= f.label :名前, class: "form_label" %>
      <%= f.text_field :name, class: "normal-input", placeholder: "株式会社SUKIMA" %>
    </div>

    <div class="student_profile">
      <%= f.label :ウェブサイト, class: "form_label" %>
      <%= f.text_field :web, class: "normal-input", placeholder: "www.sukima.com" %>
    </div>

    <div class="student_profile">
      <%= f.label :所在地, class: "form_label" %>
      <%= f.text_field :address, class: "normal-input", placeholder: "福岡県中央区天神0丁目 0-0" %>
    </div>

    <div class="student_profile">
      <%= f.label :業種, class: "form_label" %>
      <%= f.text_field :industry, class: "normal-input", placeholder: "通信..etc" %>
    </div>

    <div class="student_profile">
      <%= f.label :会社概要説明, class: "form_label" %>
      <div class="triangle"></div>
      <%= f.text_area :about, class: "student_introduce" %>
    </div>

    <div class="post_in">
      <%= f.submit "登録する", class: "input_btn" %>
    </div>
  <% end %>
</div>

