<div class="profile">
  <div class="post_head">
    <img class="title" src="/assets/mypage_kotoba.png">
  </div>
  <div class="student_image">
    <%= image_tag @admin.image %>
  </div>
  <div class="post_head">
    <h2><%= @admin.name %></h2>
  </div>
  <table class="companies">
    <tr>
      <th>会社名</th>
      <td><%= @admin.name %></td>
    </tr>

    <tr>
      <th>ウェブサイト</th>
      <td><%= link_to @admin.web, @admin.web %></td>
    </tr>

    <tr>
      <th>所在地</th>
      <td><%= @admin.address %></td>
    </tr>

    <tr>
      <th>業種</th>
      <td><%= @admin.industry %></td>
    </tr>

    <tr>
      <th>会社概要</th>
      <td><%= @admin.about %></td>
    </tr>

  </table>
  <p><%= link_to 'プロフィール変更', edit_admin_path %></p>
</div>


