
<table class="entry_edit">
    <tr>
        <th width ="80"><%= form.label :title %></th>
        <td><%= form.text_field :title, :placeholder => "タイトルを入力してください。", size: 50 %></td>
    </tr>
    <tr>
        <th width ="80"><%= form.label :industry %></th>
        <td><%= form.select :industry, {メーカー: "maker", 商社: "trading_company"} %></td>
    </tr>
    <tr>
        <th width ="80"><%= form.label :job_category %></th>
        <td><%= form.select :job_category, {企画: "planning", 営業: "sales", エンジニア: "engineer"} %></td>
    </tr>
    <tr>
        <th width ="80"><%= form.label :area %></th>
        <td><%= form.select :area, {福岡: "fukuoka", 東京: "tokyo"}%></td>
    </tr>
    <tr>
        <th><%= form.label :body %></th>
        <td><%= form.text_area :body, rows: 10, cols: 80, :placeholder =>
"
●やりたいことの内容
　例1:私は企業のインターンで営業の仕事を体験したいです。
　例2:僕はアルバイトとして居酒屋で働きたいです。
　例3:僕は企業で給料をいただきながら、広報の仕事をしたいです。
        
●なぜそれをやりたいのか
　例1:私は将来東京の広告会社で営業マンとして働き、たくさんの広告
 　　 で社会を明るくしていきたいと思っています。そのようなはがよ
      りリアルな営業の経験を学生のうちに積んでおきたいと考えており
    　企業での営業インターンでそれを学んでいきたいと思っています。
        　　
  例2:僕は将来飲食店を自ら立ち上げたいと思っています。
      その為には実際の飲食店で働く経験が必要です。また、より
      経営者に近い居酒屋で居酒屋経営について学びながら働くこと
      のできる職場で働きたいと思いっています。
        　　　　
  例3:僕は現在大学3年生で、バーでのバイトをしています。しかし僕は
      将来どこかの企業で働きたいと思っており、学生のうちから企業
      でインターンをしたいです。その為には現在のバイトをやめる必要が
      あるのですが、それでは生活が苦しくなるため、給料のいただける
      ようなインターンをしたいです。
        　　　　
●その仕事にかける熱意
●それをやることで何を成し遂げたいのか
等
"
        %></td>
    </tr>
    
    <tr>
         <th><%= form.label :image %></th>
         <td><%= form.file_field :image %></td>
    </tr>
    
    
    <tr>
        <th><%= form.label :posted_at, for: "entry_posted_at_li" %></th>
        <td><%= form.datetime_select :posted_at, start_year: 2000, end_year: Time.now.year+1, use_month_numbers: true %></td>
    </tr>
    
    <tr>
        <th><%= form.label :status %></th>
        <td><%= form.select :status, Entry.status_options %></td>
    </tr>
</table>
