  <div class="category_search sp">
    <div class="category_btn">
      <img src="./assets/cat_search_on.png" class="cat_search_on">
      <img src="./assets/cat_search_off.png" class="cat_search_off hidden">
    </div>

    <div class="category_content" style="display: none;">
      <%= form_tag('/entries/job_category_search', method: :get) do %>
        <%= button_tag("企画", class: "category_part", name: "keyword", value: "企画") %>
        <%= button_tag("制作", class: "category_part", name: "keyword", value: "制作") %>
        <%= button_tag("事務", class: "category_part", name: "keyword", value: "事務") %>
        <%= button_tag("専門職", class: "category_part", name: "keyword", value: "専門色") %>
        <%= button_tag("営業", class: "category_part", name: "keyword", value: "営業") %>
        <%= button_tag("医療", class: "category_part", name: "keyword", value: "医療") %>
        <%= button_tag("教育", class: "category_part", name: "keyword", value: "教育") %>
        <%= button_tag("エンジニア", class: "category_part", name: "keyword", value: "エンジニア") %>
      <% end %>
      <%= search_form_for @q, url: all_search_entries_path do |f| %>
        <p><%= f.search_field :job_category_and_title_and_area_body_cont %>
           <%= submit_tag "検索" %></p>
      <% end %>
      <a href=""><div class="category_btn"><img src="./assets/cat_search.png"></div></a>
    </div>
  </div>

  <div class="category_search_pc pc">
    <div class="category_tab">職種</div>
    <div class="category_content_pc">
      <label class="cat_content_part"><input type="checkbox" name="occupation" value="1"><span>営業</span></label>
      <label class="cat_content_part"><input type="checkbox" name="occupation" value="2"><span>事務</span></label>
      <label class="cat_content_part"><input type="checkbox" name="occupation" value="3"><span>企画</span></label>
      <label class="cat_content_part"><input type="checkbox" name="occupation" value="4"><span>サービス</span></label>
      <label class="cat_content_part"><input type="checkbox" name="occupation" value="5"><span>制作</span></label>
      <label class="cat_content_part"><input type="checkbox" name="occupation" value="6"><span>クリエイティブ</span></label>
      <label class="cat_content_part"><input type="checkbox" name="occupation" value="7"><span>専門職</span></label>
      <label class="cat_content_part"><input type="checkbox" name="occupation" value="8"><span>ITエンジニア</span></label>
      <label class="cat_content_part"><input type="checkbox" name="occupation" value="9"><span>医療</span></label>
      <label class="cat_content_part"><input type="checkbox" name="occupation" value="10"><span>教育</span></label>
    </div>
  </div>


<!-- スマホバージョン -->
<div class="bgcolor post-section">
<% if @entries.present? %>
<div class="posts sp">
  <% @entries.each do |entry| %>
    <div class="post">
      <div class="post_main">
        <div class="post_cat post_cat_dark">
          <!--<img src="./assets/cat_01.png">-->
          <!-- 画像が作成されてないので後ほど反映 -->
          <% if entry.job_category == "営業" %>
            <img src="./assets/cat_02.png">
          <% elsif entry.job_category == "事務" %>
            <img src="./assets/cat_03_officework.png">
          <% elsif entry.job_category == "企画" %>
            <img src="./assets/cat_planning".png>
          <% elsif entry.job_category == "サービス" %>
            <img src="./assets/cat_service.png">
          <% elsif entry.job_category == "制作" %>
            <img src="./assets/cat_production.png">
          <% elsif entry.job_category == "クリエイティブ" %>
            <img src="./assets/cat_01.png">
          <% elsif entry.job_category == "教育" %>
            <img src="./assets/cat_education.png">
          <% elsif entry.job_category == "ITエンジニア" %>
            <img src="./assets/cat_engineer.png">
          <% elsif entry.job_category == "医療" %>
            <img src="./assets/cat_medical.png">
          <% else %>
            <img src="./assets/cat_01.png">
          <% end %>
         </div>
        <div class="user_image">
        <!-- ゆーざーの写真 -->
        <% if !entry.user.image.nil? %>
          <%= link_to image_tag(entry.user.image), user_path(entry.user) %>
        <% else %>
          <%= link_to image_tag('brank_icon.jpg'), user_path(entry.user) %>
        <% end %>
        </div>
        <div class="post_main_text">
          <%= link_to entry.user.name, user_path(entry.user), class: "name" %>
          <h3><%= link_to entry.title, entry_path(entry), class: "entry_title" %></h3>
          <% if admin_signed_in? %>
          <!--<div class="post_chat_btn">
            <p><%= link_to image_tag("chat_btn_phone.png"), entry_path(entry), :class=>'post_chat_btn' %></p>
      <!--class= '-->
          </div>-->
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<!-- PCバージョン -->
<div class="posts pc">
  <% @entries.each do |entry| %>
    <div class="post">
      <div class="post_main">
        <div class="post_cat post_cat_dark">
          <% if entry.job_category == "クリエイティブ" %>
            <img src="./assets/creative.png">
          <% elsif entry.job_category == "教育" %>
            <img src="./assets/kyouiku.png">
          <% elsif entry.job_category == "ITエンジニア" %>
            <img src="./assets/engineer.png">
          <% elsif entry.job_category == "医療" %>
            <img src="./assets/iryou.png">
          <% elsif entry.job_category == "事務" %>
            <img src="./assets/jimu.png">
          <% elsif entry.job_category == "企画" %>
            <img src="./assets/kikaku.png">
          <% elsif entry.job_category == "制作" %>
            <img src="./assets/seisaku.png">
          <% elsif entry.job_category == "営業" %>
            <img src="./assets/eigyo.png">
          <% elsif entry.job_category == "サービス" %>
            <img src="./assets/service.png">
          <% else %>
            <img src="./assets/profession.jpg">
          <% end %>
        </div>
        <div class="test_post_main_title">
          <h3><%= link_to entry.title, entry_path(entry), class: "entry_title" %></h3>
        </div>
        <div class="user_image">
          <%= link_to image_tag(entry.user.image), user_path(entry.user) %>
        </div>
        <div class="post_main_text">
          <p class="name"><%= entry.user.name %></p>
          <%= link_to image_tag('chat_suru_pc.png'), groups_path %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<% else %>
<p>会員情報がありません</p>
<% end %>
<!-- /追加分 -->


<!-- ページネーション -->
<%= paginate(@entries) %>
<!--   <nav>
    <ul class="pagination pagination-lg">
      <li><a href="#">&raquo;</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">2</a></li>
      <li class="active"><a href="#">1</a></li>
      <li class="disabled"><a href="#">&laquo;</a></li>
    </ul>
  </nav>
 -->

 <div class="fixed_post">
   <%= link_to image_tag('toukou.png'), new_entry_path %>
 </div>

</div>

<script type="text/javascript">
  $('.category_btn').click(function () {
    if ($(".cat_search_off").is(":hidden")) {
      $(".cat_search_on").addClass('hidden');
      $(".cat_search_off").removeClass('hidden');
      $(".category_content").slideDown("slow");
    } else {
      $(".cat_search_on").removeClass('hidden');
      $(".cat_search_off").addClass('hidden');
      $(".category_content").slideUp("slow");
    }
  });
</script>
