<h1><%= @entry.author.name %>さんの投稿</h1>
<h2><%= @entry.title %></h2>

    <% if current_user == @entry.author %>

        <p><%= link_to "編集", [:edit, @entry] %></p>

    <% end %>

    <%= simple_format(@entry.body) %>
<%= render "footer", entry: @enrty %>