<div class="entry_image">
    <%= image_tag @entry.image %>
</div>

<div class="image">
    <%= image_tag @entry.author.image %>
</div>

<div class="entry_text">
<h4><%= @entry.author.name %></h4>

<h2><%= @entry.title %></h2>


    <% if current_user == @entry.author %>

        <p><%= link_to "編集", [:edit, @entry] %></p>

    <% end %>
</div>        
        <p><%= simple_format(@entry.body) %></p>

</table>
    <% if admin_signed_in? %>
      <%= form_for @group do |f| %>
        <div class="button">
          <%= f.hidden_field :user_id, user_id: @group.id %>
          <%= f.submit "チャットはこちらから" %>
        </div>
      <% end %>
    <% end %>
<%= render "footer", entry: @enrty %>
