<div class="contents-box">
  <% if current_user.nil? %>
    <img src="/assets/chattitle-admin.png" alt="" class="title">
  <% else %>
    <img src="/assets/chattitle-user.png" alt="" class="title">
  <% end %>
  <div class="groups-box">
    <% @groups.each do |group| %>
      <%= link_to group_messages_path(group) do %>
        <div class="group-box">
          <% if current_user.nil? %>
            <%= image_tag group.user.image, class: "icon" %>
          <% else %>
            <%= image_tag group.admin.image, class: "icon" %>
          <% end %>
          <div class="summary">
            <% if current_user.nil? %>
              <p id="person"><%= group.user.name %></p>
            <% else %>
              <p id="person"><%= group.admin.name %></p>
            <% end %>
              <p id="title"><%= group.entry.title %></p>
              <p id="last_message"><%= group.messages.last.message %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

