<div class="contents-box">
  <img src="/assets/chattitle.png" alt="" class="title">
  <div class="groups-box">
    <% @groups.each do |group| %>
      <div class="group-box">
        <% if current_user.nil? %>
          <%= image_tag group.user.image, class: "icon" %>
        <% else %>
          <%= image_tag group.admin.image, class: "icon" %>
        <% end %>
        <div class="summary">
          <% if current_user.nil? %>
            <p id="person"><%= group.user.name %></p>
          <% else %>
            <p id="person"><%= group.admin.name %></p>
          <% end %>
            <p id="title">💼 : <%= group.entry.title %></p>
            <p id="last_message"><%= group.messages.last.message %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>

