<div class="body_ya">
  <div class="post_head">
    <img class="title" src="/assets/mypage_kotoba.png">
  </div>
  <div class="student_profile">
  <%= form_for @user do |f| %>
      <%= f.label :プロフィール画像 %>
　    <%= f.file_field :image %>
　    <%= f.hidden_field :image_cache %>
  </div>
      
    <div class="student_profile">
      <%= f.label :名前, class: "form_label" %>
      <%= f.text_field :name, class: "normal-input", placeholder: "スキマ 太郎" %>
    </div>

    <div class="student_profile">
      <%= f.label :性別, class: "form_label" %>
      <div class="radio">
        <label><%= f.radio_button :gender, 0, class: "radio01-input" %><span class="radio01-parts">男</span></label>
        <label><%= f.radio_button :gender, 1, class: "radio01-input" %><span class="radio01-parts">女</span></label>
      </div>
    </div>

    <div class="student_profile">
      <%= f.label :大学, class: "form_label" %>
      <%= f.text_field :atschool, class: "normal-input", placeholder: "スキマ大学" %>
    </div>

    <div class="student_profile">
      <%= f.label :学部, class: "form_label" %>
      <%= f.text_field :education, class: "normal-input", placeholder: "経済学部" %>
    </div>

    <div class="student_profile">
      <%= f.label :都道府県名, class: "form_label" %>
      <%= f.text_field :address, class: "normal-input", placeholder: "インターンしたい都道府県名" %>
    </div>

    <div class="student_profile">
      <%= f.label :自己紹介, class: "form_label" %>
      <!--<div class="triangle"></div>-->
      <%= f.text_area :introduce, class: "student_introduce" %>
    </div>

    <div class="post_in">
      <%= f.submit "登録する", class: "input_btn" %>
    </div>
  <% end %>
</div>
