<!DOCTYPE html>
<html>
<head>
  <title>Sukima career</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="header" style="background-image: url(/assets/header_sp.png); ">
    <div class="header_menu">
      <div><%= link_to image_tag("/assets/home.png"), root_path %></div>
      <% if current_user.nil? && current_admin.nil? %>
        <div><%= link_to image_tag('/assets/mypage.png'), new_user_session_path %></div>
      <% elsif current_user.nil?%>
        <div><%= link_to image_tag('/assets/mypage.png'), admin_path(current_admin) %></div>
      <% else %>
        <div><%= link_to image_tag('/assets/mypage.png'), user_path(current_user) %></div>
      <% end %>
      <% if current_user.nil? && current_admin.nil? %>
        <div><%= link_to image_tag('/assets/chat.png'), new_user_session_path %></div>
      <% else %>
        <div><%= link_to image_tag('/assets/chat.png'), groups_path %></div>
      <% end %>
      <div><%= link_to image_tag('/assets/memo.png', style: "color: gray;") %></div>
      <% if current_user.nil? && current_admin.nil? %>
        <div><%= link_to image_tag('/assets/logout.png'), new_user_session_path %></div>
      <% elsif current_user.nil?%>
        <div><%= link_to image_tag('/assets/logout.png'), destroy_admin_session_path, method: :delete %></div>
      <% else %>
        <div><%= link_to image_tag('/assets/logout.png'), destroy_user_session_path, method: :delete %></div>
      <% end %>
    </div>
  </div>

  <div class="continer-fluid">
    <div class="container">
      <%= yield %>
    </div>
  </div>

  <footer>
    <p>SUKIMA All right reserved.</p>
  </footer>
</body>
</html>
