<!DOCTYPE html>
<html>
<head>
  <title>Sukima</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<<<<<<< HEAD
   <header>
=======
<<<<<<< HEAD
<div class="header">
  <div class="container">
    <div classs="header_left">
      <h1>SUKIMA</h1>
    </div>
    <div class="header_right_guest">
      <ul>
        <li><a href="#">個人</a></li>
        <li><a href="#">企業</a></li>
      </ul>
    </div>
<!-- 学生ログイン時
    <div class="header_right_student"> 
      <ul>
        <li><a href="#">マイページ</a></li>
        <li><a href="#">チャット</a></li>
        <li><a href="#">投稿</a></li>
      </ul>
    </div>
-->
<!-- 企業ログイン時
    <div class="header_right_company">
      <ul>
        <li><a href="#">マイページ</a></li>
        <li><a href="#">チャット</a></li>
      </ul>
    </div>
-->
  </div>
</div>
  
</header>
=======
  <header>
>>>>>>> 7912f63617f6831af99de52acd88664c7eaf1e2a
        <nav>
            <% if user_signed_in? %>
                <strong><%= link_to current_user.username, pages_show_path %></strong>
                <%= link_to 'プロフィール変更', edit_user_registration_path %>
                <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
            <% else %>
                <%= link_to 'サインアップ', new_user_registration_path %>
                <%= link_to 'ログイン', new_user_session_path %>
            <% end %>
        </nav>
    </header>
<p class="notice"><%= notice %></p>
<<<<<<< HEAD
  <p class="alert"><%= alert %></p>
=======
<p class="alert"><%= alert %></p>
>>>>>>> 63704405622ca69b141f385485953a4db72b7a93
>>>>>>> 7912f63617f6831af99de52acd88664c7eaf1e2a
<%= yield %>


<footer>
  <p></p>
</footer>
</body>
</html>
