<h2>プロフィール編集<% resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

<table class="companies">
  
   <tr>
    <th><%= f.label :image %></th>
    <td><%= f.file_field :image %></td>
  <tr>
  

  <tr>
    <th><%= f.label :name %></th>
    <td><%= f.text_field :name %></td>
  </tr>
  
  <tr>
    <th><%= f.label :skills %></th>
    <td><%= f.text_area :skills %></td>
  </tr>
  
  
  <tr>
    <th><%= f.label :gender %></th>
    <td><%= f.radio_button :gender, 0 %>
        <%= f.label :gender_0, "男" %>
        <%= f.radio_button :gender, 1 %>
        <%= f.label :gender_1, "女" %></td>
  </tr>
  
  <tr>
    <th><%= f.label :education %></th>
    <td><%= f.text_area :education %></td>
  </tr>
  
  <tr>
    <th><%= f.label :atschool %></th>
    <td><%= f.text_area :atschool %></td>
  </tr>
  
  <tr>
    <th><%= f.label :address %></th>
    <td><%= f.text_field :address %></td>
  </tr>
  <tr>
    <th><%= f.label :introduce %></th>
    <td><%= f.text_area :introduce %></td>
  </tr>
  
<!--  
  <tr>
    <th><%= f.label :email -%></th>
    <td><%= f.email_field :email, autofocus: true -%></td>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? -%>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email -%></div>
  <% end -%>
  </tr>

  <tr>
    <th><%= f.label :password -%></th>
    <td><%= f.password_field :password, autocomplete: "off" -%>
    <% if @minimum_password_length -%>
      <br />
      <em><%= @minimum_password_length -%> characters minimum</em>
    <% end -%>
    </td>
  </tr>

    
  <tr>
    <th><%= f.label :password_confirmation -%></th>
    <td><%= f.password_field :password_confirmation, autocomplete: "off" -%></td>
  </tr>

  <tr>
    <th><%= f.label :current_password -%> </th>
    <td><%= f.password_field :current_password, autocomplete: "off" -%></td>
  </tr>
-->
</table>
    <%= f.submit "更新", :class=>"btn btn-info btn-lg" %>
<% end -%>


<!--
<h3>アカウントを削除する</h3>

<p>Unhappy? <%= button_to "アカウントを削除する", registration_path(resource_name), data: { confirm: "アカウントを本当に削除しますか？" }, method: :delete -%></p>
-->
<%= link_to "戻る", :back %>
