<div class="sign_up">
<h2>Welcome to SUKIMA career.</h2>
<h3>～For Students～</h3>
</div>
<div class="form_container">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

<div class="sign_up_forms">
  <div class="field">
    <p class="form"><%= f.label :email %>:<br /></p>
    <p><%= f.email_field :email, autofocus: true %></p>
  </div>

  <div class="field">
    <p class="form"><%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>:<br /></p>
    <p><%= f.password_field :password, autocomplete: "off" %></p>
  </div>
  <div class="field">
    <p class="form"><%= f.label :password_confirmation %>:<br /></p>
    <p><%= f.password_field :password_confirmation, autocomplete: "off" %></p>
  </div>
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
</div>
  <div class="cancel_log_in">
  <%= render "admins/shared/links" %>
</div>
</div>