<div class="body_ya">
  <div class="post_head">
    <img class="title" src="/assets/mypage_kotoba.png">
  </div>
  <%= devise_error_messages! %>
  <%= form_for(resource, as: resource_name, url: user_registration_path) do |f| %>
    <div class="student_image">
    <%= f.label :image do %>
      <%= f.file_field :image, style: "display: none;" %>
      <img src="/assets/blank_icon.jpg" class="student_upload_image">
    <% end %>
    </div>

    <div class="student_profile">
      <%= f.label :メールアドレス, class: "form_label" %>
      <%= f.email_field :email, class: "normal-input", autocomplete: "off", placeholder: "abcd@gmail.com" %>
    </div>

    <div class="student_profile">
      <%= f.label :パスワード, class: "form_label" %>
      <%= f.password_field :password, class: "normal-input", autocomplete: "off", placeholder: "000000" %>
    </div>

    <div class="student_profile">
      <%= f.label :確認, class: "form_label" %>
      <%= f.password_field :password_confirmation, class: "normal-input", autocomplete: "off", placeholder: "パスワード確認" %>
    </div>

    <div class="student_profile">
      <%= f.label :名前, class: "form_label" %>
      <%= f.text_field :name, class: "normal-input", placeholder: "スキマ 太郎" %>
    </div>

    <div class="student_profile">
      <%= f.label :性別, class: "form_label" %>
      <div class="radio">
        <label><%= f.radio_button :gender, 0, class: "radio01-input" %><span class="radio01-parts">男</span></label>
        <label><%= f.radio_button :gender, 1, class: "radio01-input" %><span class="radio01-parts">女</span></label>
      </div>
    </div>

    <div class="student_profile">
      <%= f.label :大学, class: "form_label" %>
      <%= f.text_field :atschool, class: "normal-input", placeholder: "スキマ大学" %>
    </div>

    <div class="student_profile">
      <%= f.label :学部, class: "form_label" %>
      <%= f.text_field :education, class: "normal-input", placeholder: "経済学部" %>
    </div>

    <div class="student_profile">
      <%= f.label :都道府県名, class: "form_label" %>
      <%= f.text_field :address, class: "normal-input", placeholder: "インターンしたい都道府県名" %>
    </div>

    <div class="student_profile">
      <%= f.label :自己紹介, class: "form_label" %>
      <div class="triangle"></div>
      <%= f.text_area :introduce, class: "student_introduce" %>
    </div>

    <div class="post_in">
      <%= f.submit "登録する", class: "input_btn" %>
    </div>
  <% end %>
</div>
