<div class="body_ya">
  <div class="post_head">
    <img class="title" src="/assets/mypage_kotoba.png">
  </div>
  <div class="student_image">
    <img src="/assets/blank_icon.jpg" class="student_upload_image">
    <input type="file" class="student_upload_form">ファイルの選択</input>
  </div>

  <div class="student_profile">
    <label class="form_label">名前</label>
    <input class="normal-input" placeholder="投稿">
  </div>

  <div class="student_profile">
    <label class="form_label">フリガナ</label>
    <input class="normal-input" placeholder="フォームの">
  </div>

  <div class="student_profile">
    <label class="form_label">性別</label>
    <div class="radio">
      <input type="radio" name="radio01" class="radio01-input">
      <span class="radio01-parts">男</span>
      <input type="radio" name="radio01" class="radio01-input">
      <span class="radio01-parts">女</span>
    </div>
  </div>

  <div class="student_profile">
      <label class="form_label">大学</label>
      <input class="normal-input" placeholder="大学名">
  </div>

  <div class="student_profile">
    <label class="form_label">学部</label>
    <input class="normal-input" placeholder="学部名">
  </div>

  <div class="student_profile">
    <label class="form_label">エリア</label>
    <input class="normal-input" placeholder="働きたい県">
  </div>

  <div class="student_profile">
    <label class="form_label">自己紹介</label>
    <div class="triangle"></div>
    <textarea class="student_introduce"></textarea>
  </div>
  <div class="post_in">
    <a href="#">
      <div class="input_btn">
        更新する
      </div>
    </a>
  </div>
</div>



<!-- <div class="sign_up">
<h2>Welcome to SUKIMA career.</h2>
<h3>～For Students～</h3>
</div>
<div class="form_container">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

<div class="sign_up_forms">
  <div class="field">
    <p class="form"><%= f.label :email %>:<br /></p>
    <p><%= f.email_field :email, autofocus: true %></p>
  </div>

  <div class="field">
    <p class="form"><%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>:<br /></p>
    <p><%= f.password_field :password, autocomplete: "off" %></p>
  </div>
  <div class="field">
    <p class="form"><%= f.label :password_confirmation %>:<br /></p>
    <p><%= f.password_field :password_confirmation, autocomplete: "off" %></p>
  </div>
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
</div>
  <div class="cancel_log_in">
  <%= render "admins/shared/links" %>
</div>
</div> -->
